.Navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #5cdb95;
    padding: 0 15px;
    position:fixed;
    z-index: 2;
}

.Navbar-choice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar-choice li {
    margin: 0 20px;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Kalam';
}

.Navbar-choice .button {
    background-color: #5cdb95;
    text-decoration: none;
    padding: 10px 20px;
    border-style: none;
    font-weight: bold;
    color: #05386b;
    transition: all ease 0.5s;
}

.Navbar-choice .button-active,
.Navbar-choice .button:hover{
    background-color: #379683;
    border-radius: 15px;
    color:#8ee4af;
}