/* .addPlant{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex:1;
} */

.addBtn {
  /* border: 1px solid black; */
  position: absolute;
  right: 50px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  transition: 0.5s all ease;
}

.addBtn .fas {
  font-size: 500%;
  color: #8ee4af;
  transition: 0.5s all ease;
}

.addBtn .fas:hover {
  font-size: 500%;
  color: #fff;
}

.cancelBtn {
  position: absolute;
  top: -15px;
  right: -5px;
  font-size: 12px;
  border: none;
  border-radius: 6mm;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #379683;
  color: white;
  font-weight: 900;
}

.addPlant {
  position: absolute;
  right: 125px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 1px solid blue; */
  height: 170px;
  width: 120px;
  padding: 10px 5px;
  border-radius: 2mm;
  background-color: rgba(240, 240, 240, 0.5);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.eachBtn:hover,
.cancelBtn:hover {
  background-color: #5cdb95;
}

.eachBtn {
  font-family: "Kalam";
  background-color: #379683;
  border: none;
  color: white;
  border-radius: 2mm;
  width: 100px;
  margin: auto;
  transition: 0.5s;
}

/* .addForm {
    display: flex;
    flex-wrap: wrap;
    flex:1;
    align-items: center;
} */

.Plants {
  /* background-color: #5cdbbb; */
  min-height: 100vh;
  margin: 0;
}

.Plants-row {
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
}

.Plants-row::-webkit-scrollbar {
  background-color: transparent;
  width: 16px;
}

/* background of the scrollbar except button or resizer */

.Plants-row::-webkit-scrollbar-track {
  background-color: transparent;
}

/* scrollbar itself */

.Plants-row::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 16px;
  border: 2px solid transparent;
}

.Plants-row::-webkit-scrollbar-thumb:hover {
  background-color: #379683;
}

/* set button(top and bottom of the scrollbar) */

.Plants-row::-webkit-scrollbar-button {
  display: none;
}

.bgk {
  background: url("./Ground3Trans.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  /* background-position-y: 2vh; */
  /* Set rules to fill background */
  /* min-height: 100vh; */
  /* min-width: 100%; */
  /* Set up proportionate scaling */
  /* width: 100%; */
  /* height: auto; */
  /* Set up positioning */
  /* position: fixed; */
  /* top: 0;
      left: 0; */
}

.margin-top {
  margin-top: 50px;
}

.hoverCard {
  font-family: "Kalam";
  margin: 0 50px !important;
  min-width: 300px !important;
  max-width: 400px !important;
  /* border: 1px solid black; */
  transition: 0.7s;
}

.hoverCard:hover {
  transform: scale(1.25);
}
