.addPlant{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex:1;
}

.addForm {
    display: flex;
    flex-wrap: wrap;
    flex:1;
    align-items: center;
}

.Plants {
    background-color: #5cdbbb;
    min-height: 100vh;
    margin: 0;
}